/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/
	
.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

h1, h2, h3, h4, .opening_title, .bebas {
	font-family: Arial, sans-serif;

}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
	margin-bottom: 30px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 20px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
	margin-bottom: 15px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
}

body {
	font: 16px/24px Arial, sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

p {
	margin-bottom: 20px;
}


/* Selection colours (easy to forget) */

::selection 	 	{background: #E5190F;color: #fff;}
::-moz-selection 	{background: #E5190F; color: #fff;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/*	General styles
	----------- */
html {
	background: url(images/body_bg.png) #efefef;
}

body {
	margin: 0 auto;
}

a {
	color: #2F5A9B;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

ul {
	list-style-position:inside;
}

/* 	Convenience classes 
	------------------- */

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto !important;
}

.text_left {
	text-align:left;
}

.text_right {
	text-align:right;
}

.no_padding {
	padding: 0 !important;
}

.padding {
	padding: 12px;
}
.hidden {
	display: none;
}
.inline-block {
	display: inline-block;
}
.full_opacity {
	opacity: 1 !important;
}

/* clearfix */
/* For modern browsers */
.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

	body {
		width: 992px;
		padding: 24px 0px 0px;
		color: rgb(50,50,50);
		-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	}
		
	.two_cols, .two_half_cols, .three_cols, .four_cols, .six_cols, .seven_cols, .eight_cols, .nine_cols, .ten_cols, h1, h2, h3, body, html, .border-box {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	
	.two_cols, .two_half_cols,.three_cols, .four_cols, .six_cols, .seven_cols, .eight_cols, .nine_cols, .ten_cols {
		padding: 12px;
	}
	
	.two_half_cols {
		width: 25%;
	}
	
	.two_cols {
		width: 20%;
	}

		.right.two_cols {
			padding-right: 0;
		}
	
	.three_cols {
		width: 30%;
	}
		.six_cols .three_cols, .seven_cols .three_cols {
			width: 50%;
		}
	
	.four_cols {
		width: 40%;
	}
	
	.six_cols {
		width: 60%;
	}
		.left.six_cols {
			padding-left: 0;
		}
		.right.six_cols {
			padding-right: 0;
		}
	
	.seven_cols {
		width: 70%;
	}
	
	.eight_cols {
		width: 80%;
	}
	
	.nine_cols {
		width: 90%;
	}
	
	.all_cols {
		width: 100%;
	}
	
	#loading {
		background: #efefef;
		border: 1px dashed #ccc;
		border-radius: 5px;
		font-size: 12px;
		color: #666;
		margin-top: 6px;
	}
	
	/*	Error
		----- */
	.error {
		border-radius: 5px;
		border: 1px solid #BF1F1F;
		color: #fff;
		text-align:center;
		padding: 10px;
		margin-top: 24px;
		margin-bottom: 24px;
		position:relative;
		
		background: rgb(225,70,70); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(225,70,70,1) 0%, rgba(223,57,57,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(225,70,70,1)), color-stop(100%,rgba(223,57,57,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(225,70,70,1) 0%,rgba(223,57,57,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(225,70,70,1) 0%,rgba(223,57,57,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(225,70,70,1) 0%,rgba(223,57,57,1) 100%); /* IE10+ */
		background: radial-gradient(center, ellipse cover,  rgba(225,70,70,1) 0%,rgba(223,57,57,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e14646', endColorstr='#df3939',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}	
		.error:before {
			border-radius: 3px;
			top: 7px;
			padding: 3px 9px;
			font-weight: bold;
			background: #BF1F1F;
			content:'!';
			position:absolute;
			left: 7px;
		}
	/*	Forms
		----- */
	.btn {

  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active, .btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active, .user:active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}

.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.no_text {
	text-indent: -9999px;
}

.spinner {	
	background: url(spinner.gif) no-repeat center center #e6e6e6 !important;
}
	
	/*	Header
		------ */
	
	header .logo {
		display: inline-block;
		vertical-align:bottom;
	}
	
	header .logo-white {
		display:none;
	}
	
	header {
		position: relative;
		margin: 0 auto;
		text-align:center;
		padding-bottom: 12px;
		margin-bottom: 24px;
		border-bottom: 1px solid #ccc;
	}
		header:before {
			position: absolute;
			bottom: -2px;
			left:0;
			width: 100%;
			border-bottom:1px solid #fff;
			content: ' ';
		}
		header form {
			padding: 12px;
			background-color: #BF1F1F;
			border-radius: 5px;
			display: inline-block;
		}
		header input[type="text"] {
			height: 41px;
			width: 340px;
			padding-left: 10px;
			
			display: block;
			float:left;
			
			background: #fff;
			border: 0;
			
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		header button {
			height: 41px;
			width: 35px;
			padding: 10px;
			
			
			display: block;
			float:left;
			text-indent: -9999px;
			
			background: url(images/search.png) no-repeat center center #fff;
			border: 0;
			
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
			header button:hover, header input:focus + header button {
				position: relative;
				
				cursor: pointer;
				
				background-color : #ffffff; /* Old browsers */
				background: url(images/search.png) no-repeat center center, -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
				background: url(images/search.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
				background: url(images/search.png) no-repeat center center, -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
				background: url(images/search.png) no-repeat center center, -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
				background: url(images/search.png) no-repeat center center, -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
				background: url(images/search.png) no-repeat center center, linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
			}
			header button:active {
				position: relative;
			
				cursor: pointer;
				
				background-color : #ffffff; /* Old browsers */
				background: url(images/search.png) no-repeat center center, -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
				background: url(images/search.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
				background: url(images/search.png) no-repeat center center, -webkit-linear-gradient(top,  #ddd 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
				background: url(images/search.png) no-repeat center center, -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
				background: url(images/search.png) no-repeat center center, -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
				background: url(images/search.png) no-repeat center center, linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
			}
				header button:hover:before, header button:active:before {
					position: absolute;
					
					top: 0;
					left: -2px;
					height: 100%;
					border-left: 1px solid #ccc;
					
					content: ' ';
				}
				header button:hover:after, header button:active:after {
					position: absolute;
					
					top: 0;
					left: -1px;
					height: 100%;
					border-left: 1px solid #fff;
					
					content: ' ';
				}
		header .togglebutton {
			display: inline-block;
			width: 40px;
			height: 40px;
			font-size: 20px;
			line-height: 40px;
			padding:0;
			margin-top:-55px;
			margin-left: 12px;
			border: 1px solid #A71B1B;
			color: #fff;
			background: rgb(228,92,92); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(228,92,92,1) 0%, rgba(222,54,54,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,92,92,1)), color-stop(100%,rgba(222,54,54,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(228,92,92,1) 0%,rgba(222,54,54,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(228,92,92,1) 0%,rgba(222,54,54,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(228,92,92,1) 0%,rgba(222,54,54,1) 100%); /* IE10+ */
			background: linear-gradient(top,  rgba(228,92,92,1) 0%,rgba(222,54,54,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45c5c', endColorstr='#de3636',GradientType=0 ); /* IE6-9 */

		}
		header .infobox {			
			background: rgba(0,0,0,0.7);
			z-index: 20;
			color: #fff;
			padding: 12px;
			border-radius: 8px;
			position: absolute;
		}
		header .information:before {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid rgba(0,0,0,0.7);
			position: absolute;
			top: -10px;
			right: 195px;
			content:'';
			z-index:10;
		}
	/*	Trending
		-------- */
	h1.trending_topics {
		font-size: 25px;
		font-weight: normal;
		display: block;
		width: 100%;
		text-align:center;
	}
		.slider, ul.trending_topics, .trending_hour {
		margin: 0 auto;
		width: 100%;
	}
	ul.trending_topics {
		list-style:none;
		height: 145px;
		padding:0;
		padding-top: 16px;
		padding-bottom: 24px;
		position: relative;
		overflow:hidden;
	}
	.slider {
		position:relative;
		padding:0;
	}
		.slide {
			position:absolute;
			left:0;
			top:0;
		}
		.prev, .next {
			position:absolute;
			top: 5px;
			z-index:200;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			cursor:pointer;
		}
			.prev:active, .next:active {
				top:6px;
			}
		.prev {
			position:absolute;
			left: 50%;
			margin-left:-90px;
			border-right: 15px solid #ccc;
		}
			.prev:hover {
				border-right-color: #666;
			}
		.next {
			right: 50%;
			margin-right:-90px;
			border-left: 15px solid #ccc;
		}
			.next:hover {
				border-left-color: #666;
			}
		.trending_topics .trending_hour {
			margin-bottom: 36px;
			padding: 0px;
			padding-top: 28px;
			
			list-style:none;
			text-align:center;
		}
			.trending_topics .date {
				background: #BF1F1F;
				color: #fff;
				font-size: 14px;
				padding: 3px;
				border-radius: 3px;
				position:absolute; 
				top:0;
				left:50%;
				margin-left: -47px;
			}
			.trending_topics .trending_hour li {
				display: inline-block;
				margin: 6px;
			}
	
	/*	Tweets
		------ */
	.tweet_container {
		width: 248px;
		position: relative;
		
	}
	
	.tweet .avatar img {
		width: 48px;
		height: 48px;
	}
		.tweet .tweet_date {
			font-style: italic;
			color: #666;
		}
	.user {
		border: 1px solid #fff;
		padding: 3px;
	}
	.user:hover, .user.active {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

		border-radius: 5px;
		border: 1px solid #ccc;
		cursor: pointer;
	}
		
	.user_info {
		width: 176px;
		position: absolute;
		top: 84px;
		
		background: rgba(0,0,0,0.8);
		border-radius: 5px;
		
		color: #fff;
		padding: 12px;
		
		z-index:10;
		
		-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		display:none;
	}
		.user_info:before {
			position: absolute;
			left: 12px;
			top:-10px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #333;
			
			content:'';
		}
		.user_info .scores {
			list-style:none;
			font-size: 13px;
		}
		.user_info .user_score {
			background: #BF1F1F;
			width: 50px;
			float:right;
			color: #fff;
			border-radius: 3px;
			border:1px solid #EA7979;
			text-align:center;
			display: block;
		}
		.user_info .description {
			position:relative;
			margin-top: 6px;
			padding-top: 6px;
			clear:both;
			border-top: 1px solid #555555;
		}
			.user_info .description:before {
				position: absolute; 
				top: -2px;
				width: 100%;
				border-top: 1px solid #000;
				content: '';
			}
	.tweet_border {
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	.tweet {
		display:block;
		-webkit-transition: opacity 0.4s ease-in;
		background: #fff;
		
		border-radius: 5px;
	}
		.tweet:hover {
			opacity: 1 !important;	
		}
		.tweet:nth-child(5n) {
			margin-right: 0;
		}
	
		.five_stars {
			opacity: 1;
		}
		.four_stars {
			opacity: 0.8;
		}
		.three_stars {
			opacity: 0.6;
		}
		.two_stars {
			opacity: 0.4;
		}
		.one_star {
			opacity: 0.2;
		}
		
		.tweet:hover {
			opacity: 1;
		}
		.tweet .avatar {
			float:left;
			margin-right: 12px;
			margin-bottom: 0px;
		}
	
	
	/*	Footer
		------ */
	footer {
		position:relative;
		width: 100%;
		padding: 0px;
		padding-top: 12px;
		margin-top: 24px;
		color: #666;
		font-size: 14px;
		text-align:center;
		
		background: url(images/footer_radial_bg.png) no-repeat center top;

		border-top: 1px solid #fff;
	}
		footer:before {
			border-top: 1px solid #ccc;
			position: absolute;
			top: -2px;

			width: 100%;
			content:'';
		}
		footer img {
			margin-top: 20px;
		}

/* devtools */
.dev_tools {
	position:fixed;
	top: 12px;
	right: 12px;
	width: 100px;
	padding: 12px;
	background: rgba(0,0,0.3);
	border-radius: 5px;
}
	

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 100%;
		padding: 0;
	}
	
	/* 	Cols 
	------------- */
	.six_cols, .seven_cols, .eight_cols, .nine_cols, .widget.three_cols {
		width: 100%;
	}
	
	/* 	Header
		------ */
	header {
		width: 100%;
		background: #BF1F1F;
	}
		header .logo {
			display: none;
		}
		header .logo-white {
			display: block;
		}
		header .togglebutton {
			display: block;
			margin: 0 auto;
		}

		header .information:before {
			right: 50%;
			margin-right: -10px;
		}

}

/*		Mobile Layout: <767px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

	body {
		width: 100%;
		padding:0;
	}
	
	/* 	Font settings
		------------- */
	.gigantic {
		font-size: 50px;
		line-height: 120px;
		letter-spacing: -2px;
	}

	h1, h2, h3, h4, .opening_title, .bebas {
		font-family: 'BebasNeueRegular', Tahoma, sans-serif;

	}

	.huge, h1 {
		font-size: 40px;
		line-height: 72px;
		letter-spacing: -1px;
		margin-bottom: 30px;
	}

	.large, h2 {
		font-size: 30px;
		line-height: 48px;
		margin-bottom: 20px;
	}

	.bigger, h3 {
		font-size: 25px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	.big, h4 {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	
	/* 	Cols 
		------------- */
	.six_cols, .seven_cols, .eight_cols, .nine_cols {
		width: 100%;
		padding: 0;
	}
		.six_cols .three_cols, .seven_cols .three_cols {
			width: 100%;
		}
	.four_cols {
		width: 100%;
		padding: 0;
	}
	.three_cols {
		width: 100%;
		padding: 12px 12px;
	}
	.two_cols {
		width: 50%;
	}
	
	/* 	Header
		------ */
	header {
		width: 100%;
		background: #BF1F1F;
	}
		header .logo {
			display: none;
		}
		header .logo-white {
			display: block;
		}
}